.carousel-inner > .item > img {
  min-width: 100%;
  max-height: 500px;
  }
.topadd {
    position: relative;
    min-height: 40px;
	margin-bottom: auto; 
	border: 0;
}
.mainadd {
    position: relative;
    min-height: 150px;
	margin-bottom: auto; 
	border: 0;
	background-color:#31708f;
}
.menuadd {
    position: relative;
    min-height: 50px;
	margin-bottom: auto; 
	border: 0;
	background-color:#333333;
}

.moreadd{
float: right!important;
font-size:0.8em;
color:#31708f;
}
a{color:#ddd}

.list-group {
margin-bottom: 0;}
.date{
    text-align: center;
    color: #fff;line-height: 24px; border-radius: 5px;
}
.date p{
    margin: 0;padding: 5px 0;
}
.day{
    border-bottom: 1px solid #ffffff;
}
.list-group-item, .moreadd{
	cursor: pointer;
}
.panel-body div a{
    display: block;
    width: 100%;
    height: 100px;
    background-color: #00b3ee;
    margin: 10px 0;
}
.list-group .fa{
    font-size: 50px;
    color: rgb(241,103,3);
    margin-right: 14px;
    line-height: 90px;
}
.list-group span{
    font-size: 16px;
    color: rgb(20,20,161);
}
.list-group p{
    font-size: 1.3rem;
}
section .row div{
   margin: 20px 0;
}
section .logo img{
    display: block;
    width: 100%;
    height: 100%;
}
section .fa{
    font-size: 3rem;
    line-height: 1.5;
}
section .fenxiang img{
    width: 100%;
    height: 100%;
}
footer{
    width: 100%;
    padding: 15px 0;
}
.navbar-inverse:nth-child(2) .container{
height: 150px;
}
.zongzhi{
    width: 400px;
    height: 100px;
    float: right;
    background: url("../img/zongzhi.png") no-repeat center/cover;
    margin-top: 25px;
}
.tzgg a{
    color:#333;
}
.tzgg>li:nth-child(3n-1){
    background-color: rgb(217,237,247);
    border-left: 12px solid rgb(4,145,210);
}
.tzgg>li:nth-child(3n){
    background-color: rgb(242,222,222);
    border-left: 12px solid rgb(210,71,31);
}
.tzgg>li:nth-child(3n-2){
    background-color: rgb(255,255,204);
    border-left: 12px solid #FFEA47;
}
h3,.news{
    color:rgb(28,109,176);
    font-weight: bold;
}
.fa-bell{
    color: rgb(210,70,31);
}
h3,.lanmu{
    color: rgb(241,103,3);
}
@media (min-width: 1200px) {
    .nav-justified{
        height: 50px;
        line-height: 36px;
    }
}
@media (max-width: 992px){
    .zongzhi{
        display: none;
    }
}
@media (max-width: 768px) {
    dl dd{
        float: left;
        margin-right: 10px;
    }
    .nav-justified{
        display: none;
    }
}
